html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#box {
	height: 50%;
	background: rgb(85,26,139);
}

h1 {
	margin: 0;
	font-family: 'Bungee Inline', cursive;
	font-size: 5em;
  color: white;
  text-align: center;
  z-index: 1;
  /*margin-top: 50px;*/
}

#box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

#map {
	height: 100%;
}

#firstHeading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

.search {
	position: absolute;
  width: 50%;
  height: 40px;
	left: 25%;
	top: 0;
  margin: 150px auto;
  background: rgba(0, 0, 0, .4);
  border: 1px solid #fff;
}

.search input {
	font-family: 'Raleway';
	font-weight: bold;
  width: 100%;
  padding: 12px 0 12px 0;
  float: left;
  color: white;
  border: 0;
  background: transparent;
  text-align: center;
}

.search input:focus {
  outline: 1;
  background: transparent;
}

div.pic_container {
  float: right;
  transform: translateZ(0px);
  overflow: hidden; 
  height: 100%;
  width:50%;
  background-color: black;
  opacity: 0.8;
}

div#pic img{
  box-sizing: border-box;
  width: 20%;
  padding-right: 4px;
}